@{
    ViewData["Title"] = "অধ্যায় ১ - 	C# ও ASP.NET এর পরিচিতি";
}

<div>
    <h1 class="text-center">ASP.NET </h1>
    <br />
    <p>ASP.NET হল মাইক্রোসফটের একটি ওয়েব ডেভেলপমেন্ট ফ্রেমওয়ার্ক যা C# প্রোগ্রামিং ভাষার উপর ভিত্তি করে তৈরি হয়েছে। এর সাহায্যে ডেভেলপাররা ওয়েবসাইট এবং ওয়েব অ্যাপ্লিকেশন তৈরি করতে পারেন। ASP.NET মূলত দুটি প্রধান আর্কিটেকচারে বিভক্ত:</p>
 
    <ol>
        <li><strong>ASP.NET Web Forms:</strong> এটি ASP.NET এর পুরনো ভার্সন যেখানে ডেভেলপাররা একটি ইভেন্ট-ড্রিভেন মডেল ব্যবহার করে ওয়েব অ্যাপ্লিকেশন তৈরি করেন। এটি মূলত উইন্ডোজ অ্যাপ্লিকেশনগুলির মতো ইন্টারফেস প্রদান করে।</li>
        <li><strong>ASP.NET Core:</strong> এটি ASP.NET এর নতুন এবং ক্রস-প্ল্যাটফর্ম সংস্করণ। এটি লিনাক্স, ম্যাক এবং উইন্ডোজ সহ বিভিন্ন প্ল্যাটফর্মে কাজ করে। এটি অত্যন্ত দ্রুত এবং মডুলার আর্কিটেকচারের জন্য বিখ্যাত। ডেভেলপাররা এখানে MVC (Model-View-Controller) আর্কিটেকচার ব্যবহার করে অ্যাপ্লিকেশন তৈরি করে।</li>
    </ol>

</div>
